.container {
  margin: auto;
}
header {
  background-image: url("./imgs/adult-alcohol-bar-274192.jpg");
  width: auto;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -200px;
}
.logo {
}

.social-media {
  display: flex;
  justify-content: flex-end;
  width: auto;
  background: red;
  justify-content: space-evenly;
}
.menu-bar {
  display: flex;
  justify-content: space-evenly;
}
