html {
  box-sizing: border-box;
  font-family: 'Francois One', sans-serif;
  margin:0;
  padding: 0;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* contain */
 
.container {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: auto;  
}
a:link{
  text-decoration: none;
  color: white;
}
a:visited{
  color: white;
}
/* header */
header {
  height: 765px;
  margin: 0;
  background-image: url(./imgs/barbar5.png);
}
 
#trio-box {
  display: flex;
  justify-content: center;
}
.left-box {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  margin: 0px 20px;
 
}
.TELE {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 18px;
  background: rgba(255, 255, 255, 0.418);
  height: 40px;
  padding: 10px 10px;
  background: none;
  border:none;
  color:rgb(238, 50, 62);
}
.topbutton {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 18px;
  background: rgba(255, 255, 255, 0.418);
  height: 40px;
  padding: 10px 10px;
  background: none;
  color:rgb(238, 50, 62);
  border-color:  rgb(238, 50, 62);
  border-radius: 5%;
}
.topbutton:hover{
  background:white;
  color:black;
  border:none;
  transition: ease-in 0.2s all;
}
.right-box {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  margin: 0px 20px;
  
}
 
/* logo */
#center-name {
  display: flex;
  justify-content: center;
  padding: 240px 0px;
  color: white;
  font-size: 60px;
}
.logo {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 100px;
  opacity: 0.9;
  border: 5px black solid;
  
  border-radius: 5px;
  padding:10px
 
}
.social-media {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}
.instagram {
  height: 40px;
  padding: 10px 10px;
  background: rgba(179, 50, 59, 0.877);
  font-size: 20px;
  color: black;
  margin: 0px 2px;
}
.instagram:hover {
  background: rgb(238, 50, 62);
  cursor: pointer;
}
.twiiter {
  height: 40px;
  padding: 10px 10px;
  background: rgba(179, 50, 59, 0.877);
  font-size: 20px;
  color: black;
  margin: 0px 2px;
}
 
.twiiter:hover {
  background: rgb(238, 50, 62);
  cursor: pointer;
}
.facebook {
  width: 38px;
  height: 40px;
  padding: 10px 12px;
  background: rgba(179, 50, 59, 0.877);
  font-size: 20px;
  color: black;
  margin: 0px 2px;
}
.facebook:hover {
  background: rgb(238, 50, 62);
  cursor: pointer;
}
/* menu-bar */
 
.menu-bar {
  display: flex;
  justify-content: space-evenly;
   background:rgb(37, 46, 122);
  height: 50px;
  padding: 15px 0px;
}
#BAR-MENU a, #BAR-STORY a, #BAR-HOME a, #BAR-GAL a, #BAR-CON a {
  color:rgb(238, 50, 62);
  font-size: 20px;
}
#BAR-HOME:hover a, #BAR-MENU:hover a, #BAR-STORY:hover a, #BAR-GAL:hover a, #BAR-CON:hover a {
  color:white;
  cursor: pointer;
  /* background:rgba(179, 50, 59, 0.877);  */
}
 
/* /////////////// */
/* ///BODY TABS/// */
/* ////////////////*/

#mainbody{
  background-color: #949494;
background-image: linear-gradient(180deg, #949494 0%, #ff4a4a 91%);
height: 4800px;
overflow: hidden;
max-width: 100%; 
position: relative;
}
.top{
  position: relative;
}
.contactus{
  position: absolute;
  display: flex;
  left: 580px;
  top:20px;
  width: 700px;
  text-align: center;
  color: white;
  font-size: 22px;
  line-height: 20px;;
  justify-content: space-around;
  margin: 15px;
  background: black;
  border-radius: 20px;
  border: 2px  #FF959C  solid;
  ;
}
/* NEWSS */
.news {
  width: 500px;
  height: 350px;
  position: absolute;
  background-color: #8191d1;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  text-align: center;
  max-width: 700px;
 }
 /* DAILY SPECIAL */
 .daily{
  width: 500px;
  height: 350px;
  position: absolute;
  line-height: 15px;
  background-color: #8191d1;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  text-align: center;
  right: 0;
 }
 .burger{
   width: 365px;
   height: 210px;
 }
 .beefprice{
   position: absolute;
   left: 110px;
   bottom: 20px;
   text-decoration: underline;
 }
/* OUR STORY */
/* ///////// */
.ourstory {
  background-image: url("./imgs/alcohol-1961542_1920.jpg");
  background-size: 1000px 600px;
  background-color: rgba(255,255,250,0.8);
  background: cover;
  margin: 20px 0px;
  border: 2px solid black;
  height: 400px;
  width: 1000px;
  text-align: center;
  align-items: center;
  margin: 50px;
  position: absolute;
  display: flex;
  top:385px;
  left:400px;
  z-index: 3;
  /* box-shadow: lightcoral 10px 10px 10px 10px; */
}
.ourstoryhead{
  font-size: 40px;
  margin: 20px 10px 0px;
  color:#FF959C  ;
}
.ourstorytext{
  font-size: 18px;
  margin: 15px 15px;
  line-height: 35px;
  color: #FADEE0  ;
  letter-spacing: 2px;
}
/* VIDEO */
/* /////// */
#background{
  z-index: 0;
  width: 900px;
  height:600px;
  position: absolute;
  left:500px;
  top: 969px;
  border: 3px solid black;
  border-radius: 10px;
  background: black;
}
/* MENU */
/* ///// */
#menu {
  border: 5px solid white;
  border-radius: 6px;
  width: 600px;
  height: 800px;
  position: absolute;
  color:white;
  top:1715px;
  left: 650px;
  background-color: #380200;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  overflow: scroll;
  text-align: center;
  padding:  0px 20px;
}
.menulabel{
  font-family: fantasy;
  font-size: 36px;
  margin: 15px 0 0 0;

}
.appname, .entrname, .desname{
  font-size: 22px;
  text-decoration: underline;
}
/* RESERVATIONS */
/* //////////// */
.reservations {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
  width: 500px;
  height: auto;
  border: 2px black solid;
  background: #c8534f;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  top: 2700px;
  left: 700px;
  color:white;
}
 
.label {
  font-size: 20px;
}
input {
  height: 30px;
  width: 250px;
  margin: 5px;
  border: 2px solid white;
  font-size: 16px;
  outline: none;
  background: none;
  color: white;
 
}
.res{
  margin: 5px 0px 0px 15px;
  font-size: 25px;
}
.label{
  margin: 5px 0px 0px 15px;
}
.spe {
  height: 70px;
  width: 400px;
  margin: 5px;
  border:2px solid white ;
  background: none;
  font-size:16px;
  outline: none;
  color: white
}
#seatpref{
  height: 30px;
  width: 200px;
  margin: 0px 0px 15px 5px;
  background: none;
  font-size: 16px;
  outline: none;
  border: 2px solid white;
  color: white
}
.submit{
  height: 30px;
  width: 250px;
  margin: 10px 5px;
  background: none;
  border: 2px solid white;
  font-size: 20px;
  color: white
}
 
/* /////////////// */
/* //////MAP////// */
 
 
.map{
  position: absolute;
  background: black;
  width: 1000px;
  height: 410px;
  margin: 100px;
  border: 3px solid black;
  top: 4200px;
  left: 405px;
 
}
.realmap{
  border-right: 3px solid black;
}
 
.imgcontact{
  width:390px;
  height: 400px;
  z-index: 0;
}
#contact{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 100px;
  top: 0px;
  color: white;
}
.input2{
  height: 30px;
  width: 250px;
  margin: 5px;
  border: 2px solid black;
  font-size: 16px;
  outline: none;
  background: white;
  color:black
}
#comment{
  height: 70px;
  width: 250px;
  margin: 5px;
  border:2px solid black ;
  font-size:16px;
  outline: none;
}
.submits{
  height: 30px;
  width: 250px;
  margin: 10px 5px;
  border: 2px solid black;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}
/* ///////////// */
/* ///GALLARY/// */
 
.Gal-pics {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 4800px;
  left:505px;
}
.mySlides {
 width: 1000px;
 height: 600px;
 
}
.w3box {
  widows: 100%;
  display: flex;
  justify-content: center;
}
 
.w3-transparent {
  background-color: rgba(179, 50, 59, 0.877);
}
.w3-badge {
  border-radius: 30%;
}
.w3-border {
  border: 1px solid black;
}
 
.w3-badge {
  color: white;
  justify-content: center;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  text-align: center;
  height: 13px;
  width: 13px;
  padding: 0;
}
.w3-badge:hover {
  background-color: white;
  outline: none;
}
.w3-center{
  
  color:white;
  height: 85px;
  text-align: center;
  line-height: 85px;
}
.w3-left {
  background: black;
  color:white;
  position: absolute;
  cursor: pointer;
  top:40%;
  height: 80px;
  width: 30px;
  line-height: 80px; 
  
}
.w3-left:hover, .w3-right:hover{
  color:black;
  background: white;
}
.w3-right {
  background: black;
  color:white;
  position: absolute;
  cursor: pointer;
  right: 00px;
  top:40%;
  height: 80px;
  width: 30px;
  line-height: 80px; 
}
/* /////// */
/* FOOTER */
 
footer{
  height: 500px;
  background: white;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 200px 0px;
  
}
 
.Z-logo{
  color:rgba(179, 50, 59, 0.877);
}
 
.Z-socialmedia {
  display: flex;
  
}
.facebook2 {
  width: 38px;
  height: 40px;
  padding: 10px 12px;
  background: rgba(179, 50, 59, 0.877);
  font-size: 20px;
  color: white;
  margin: 0px 2px;
  border-radius: 100%;
}
.facebook2:hover {
  background: black;
}
.twiiter2 {
  height: 40px;
  padding: 10px 10px;
  background: rgba(179, 50, 59, 0.877);
  font-size: 20px;
  color: white;
  margin: 0px 2px;
  border-radius: 100%;
}
 
.twiiter2:hover {
  background: black;
}
.instagram2 {
  height: 40px;
  padding: 10px 10px;
  background: rgba(179, 50, 59, 0.877);
  font-size: 20px;
  color: white;
  margin: 0px 2px;
  border-radius: 100%;
}
.instagram2:hover {
  background: black;
}
 
